#order_review_heading,
#order_review table.shop_table {
    display: none;
}

#customer_details h3 {
    display: none;
}
.product-image{
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
.product-content {
    max-height: 300px;
    overflow: auto;
}
.woocommerce-order-overview,
.woocommerce-thankyou-order-details,
.woocommerce-order-details,
.woocommerce-customer-details {
    display: none !important;
}

.woocommerce-notice--success.woocommerce-thankyou-order-received {
    text-align: center;
    margin-top: 20px; 
}

.woocommerce-form-login-toggle,
.woocommerce-form-coupon-toggle {
    display: none !important;
}

form.checkout button#place_order {
    margin-top: 20px;
    float: unset !important;
    color: var(--e-global-color-accent);
    background-color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 1px;
    border-color: var(--e-global-color-primary);
    border-radius: 25px;
}

form.checkout button#place_order:hover {
    color: var(--e-global-color-accent);
    background-color: #FAC896;
    border-style: solid;
    border-width: 1px;
    border-color: #FAC896;
    border-radius: 25px;
}

form.checkout input {
    border: 1px solid #cacaca;
}

form.checkout .woocommerce-billing-fields__field-wrapper {
    display: flex;
    flex-wrap: wrap;
}

form.checkout .woocommerce-billing-fields__field-wrapper #billing_full_name_field {
    width: 100%;
}

/* form.checkout .woocommerce-billing-fields__field-wrapper #billing_phone_field{
    width: 40%;
} */
form.checkout .woocommerce-billing-fields__field-wrapper #billing_email_field {
    width: 100%;
}

.title-tuvan-checkout {
    position: absolute;
    bottom: 25px;
    left: 280px;
    max-width: 700px;
    margin: 0px auto 45px;
    text-align: center;
    padding: 0 30px;
}

.mess-note-payment {
    margin-bottom: 10px !important;
    font-weight: 700;
}

.product_tracuu_checkout {
    text-align: center;
}

.product_tracuu_checkout img {
    width: 220px;
    height: auto;
    object-fit: contain;
    max-width: unset;
}
.product-title{
    text-align: center;
    margin-top: 30px;
}
/* .product_tracuu_checkout .amount-flip-book {
    position: absolute;
    width: unset;
    top: 35px;
    right: 156px;
    font-size: 20px !important;
    font-weight: 700;
    text-transform: uppercase;
    color: #2b1980;
} */

#download-pdf-full {
    margin-bottom: 20px;
}

#error-message,
.error-message {
    margin-top: 10px;
    color: red;
}

#text-tuvan-order-completed {
    text-align: center;
    font-size: 16px;
}

.woocommerce #payos-checkout-container {
    margin-bottom: 0px;
}

.woocommerce #get-qr-wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

form.checkout.woocommerce-checkout {
    max-width: 700px;
    margin: auto;
    padding: 20px;
    border-radius: 5px !important;
    border: 1px solid var(--e-global-color-primary);
    background-color: rgb(0 0 0 / 71%);
}

#order_review #payment .form-row.place-order{
    display: none !important;
}
#order_review{
    margin-bottom: 20px;
    display: none;
}
.checkout .form-row {
    display: flex !important;
    flex-direction: column !important;
}

.checkout .form-row input {
    border-color: #ccc;
    border-radius: 5px;
}

#place_order {
    margin-top: 20px;
    float: unset !important;
    color: var(--e-global-color-accent);
    background-color: var(--e-global-color-primary);
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var(--e-global-color-primary);
    border-radius: 25px 25px 25px 25px;
}

#place_order:hover {
    box-shadow: 0 0 15px -3px rgba(var(--color-primary-light), 1), inset 0 5px 20px -7px rgba(var(--color-primary-dark), 1);
    color: rgb(var(--color-inverse)) !important;
    border-color: rgb(var(--color-inverse)) !important;
}

#download-pdf-full {
    background: url(/wp-content/uploads/btn-overlay.svg),
        linear-gradient(to right, rgb(var(--color-primary)) 50%, rgb(var(--color-secondary))) !important;
    background-position: top left !important;
    background-size: contain !important;
    background-repeat: no-repeat !important;
    background-blend-mode: normal !important;
    padding: 10px 35px !important;
    border: 4px solid rgb(var(--color-primary-light)) !important;
    border-radius: 50vh !important;
    font-family: var(--pfont) !important;
    font-weight: 500 !important;
    font-size: 0.95em !important;
    text-transform: uppercase !important;
    letter-spacing: 0.1em !important;
    color: rgb(var(--color-inverse)) !important;
}

#download-pdf-full:hover {
    box-shadow: 0 0 15px -3px rgba(var(--color-primary-light), 1), inset 0 5px 20px -7px rgba(var(--color-primary-dark), 1);
    color: rgb(var(--color-inverse)) !important;
    border-color: rgb(var(--color-inverse)) !important;
}

.title-order-flipbook {
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 20px !important;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--e-global-color-secondary);
}

.title-order-sale-phone {
    width: 100%;
    margin-bottom: 0 !important;
    text-align: center;
    font-size: 20px !important;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--e-global-color-secondary);
}

.title-line-amount {
    position: absolute;
    top: 34px;
    left: 465px;
    font-size: 20px;
    font-weight: 700;
    color: #2b1980;
}

.line-order-flipbook {
    width: 100%;
    display: flex;
    margin: 35px 210px;
    direction: ltr;
    border-top: 1px solid #000;
}

#customer_details {
    margin-top: 0px;
}

form.checkout .woocommerce-NoticeGroup {
    width: 100% !important;
}

form.checkout .woocommerce-NoticeGroup .woocommerce-error {
    width: 100%;
    margin-bottom: 0px !important;
}

.woocommerce-js form .form-row label {
    font-size: 15px !important;
}

.title-notice-payment {
    margin-bottom: 0 !important;
    color: red !important;
}

.title-notice-payment2 {
    padding: 0px 35px;
}

#billing_phone_field {
    width: 100%;
}

.wrap-title-price-order {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.amount-flip-book {
    font-size: 20px !important;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0 !important;
    color: var(--e-global-color-secondary);
}

@media (min-width: 880px) {
    form.checkout {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        row-gap: 0px;
    }

    form.checkout #customer_details {
        text-align: center;
        width: 100% !important;
        order: 1;
    }

    form.checkout .form-row.place-order {
        text-align: center;
    }

    form.checkout .product_tracuu_checkout {
        width: 40%;
        order: 0;
    }

    form.checkout #order_review {
        width: 100%;
        order: 2;
    }
}

@media (max-width: 880px) {
    form.checkout .woocommerce-billing-fields__field-wrapper #billing_phone_field {
        width: 100%;
    }

    form.checkout .woocommerce-billing-fields__field-wrapper #billing_email_field {
        width: 100%;
    }

    form.checkout #customer_details,
    form.checkout .product_tracuu_checkout {
        margin-bottom: 35px;
    }
}

@media (max-width: 768px) {
    .woocommerce {
        margin: 50px 0px;
        padding: 15px;
    }

    form.checkout {
        display: flex;
        flex-direction: column-reverse;
    }

    #customer_details {
        text-align: center;
    }

    .checkout .form-row {
        text-align: left;
    }

    #place_order {
        padding: 10px 25px !important;
        font-size: 13px !important;
    }

    .title-order-flipbook {
        position: unset;
        text-align: center;
    }

    .product_tracuu_checkout {
        text-align: center;
    }

    /* .product_tracuu_checkout .amount-flip-book {
        position: unset;
        display: block;
        width: 100%;
        margin-top: 20px;
        text-align: center;
        text-transform: uppercase;
    } */

    .title-tuvan-checkout {
        position: unset;
        max-width: 700px;
        margin: 0px auto 30px;
        text-align: center;
        padding: 0 0px;
    }

    .line-order-flipbook {
        display: none;
    }

    .product_tracuu_checkout img {
        width: 50%;
        height: auto;
        object-fit: contain;
        margin-left: 0px;
        max-width: unset;
    }

    #customer_details {
        margin-top: 0px;
    }

    .title-line-amount {
        display: none;
    }

    form.checkout .woocommerce-NoticeGroup .woocommerce-error {
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }
}

@media (max-width: 480px) {
    form.checkout {
        display: flex;
        flex-direction: column-reverse;
    }

    #customer_details {
        text-align: center;
    }

    .checkout .form-row {
        text-align: left;
    }

    #place_order {
        padding: 10px 25px !important;
        font-size: 13px !important;
    }

    .title-order-flipbook {
        position: unset;
        text-align: center;
        margin-bottom: 10px !important;
    }

    .title-order-sale-phone {
        order: 2;
        margin-bottom: 20px !important;
    }

    .product_tracuu_checkout {
        margin-bottom: 15px !important;
    }

    /* .product_tracuu_checkout .amount-flip-book {
        position: unset;
        display: block;
        width: 100%;
        margin-top: 0px;
        text-align: center;
        text-transform: uppercase;
    } */

    .title-tuvan-checkout {
        position: unset;
        max-width: 700px;
        margin: 0px auto 30px;
        text-align: center;
        padding: 0 0px;
    }

    .line-order-flipbook {
        display: none;
    }

    .product_tracuu_checkout img {
        width: 65%;
        height: auto;
        object-fit: contain;
        margin-left: 0px;
        max-width: unset;
    }

    #customer_details {
        margin-top: 0px;
    }

    .title-line-amount {
        display: none;
    }

    form.checkout .woocommerce-NoticeGroup .woocommerce-error {
        margin-top: 0 !important;
        margin-bottom: 20px !important;
    }

    .woocommerce {
        padding: 15px;
    }

    .woocommerce-order-received .woocommerce {
        padding: 15px 15px 120px 15px;
    }

    .woocommerce #get-qr-wrap {
        bottom: 25px;
    }

    .title-notice-payment2 {
        padding: 0px !important;
    }

    .wrap-title-price-order {
        order: 2;
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .amount-flip-book {
        margin-bottom: 20px !important;
    }
}